<!-- cv/templates/cv/selinux_list.html -->

{% extends 'base.html' %}

{% block title %}Selinux Messages List{% endblock %}

{% block content %}
    <h2>Selinux suggestion List</h2>

    <table>
        <thead>
            <tr>
                <th>Status</th>
                <th>Hostname</th>
                <th>suggestion</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in suggestions %}
                <tr>
                    <td>{{ entry.status }}</td>
                    <td>{{ entry.hostname }}</td>
                    <td>{{ entry.sugegstion }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
